<div class="container">
  <div class="row">
    <div class="col-lg-11">
      <h2 class="main-title">Ember with D3 Charts and dynamic data:</h2>
      <button type="button" name="button" class="btn btn-success" onclick={{route-action "changeChartData"}}>Manually Change Data</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 chart-item">
      {{pie-chart data=model dataIndex=dataIndex}}
    </div>
    <div class="col-lg-7 chart-item">
      {{bar-chart data=model dataIndex=dataIndex}}
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 chart-item">
      {{line-chart data=model dataIndex=dataIndex}}
    </div>
    <div class="col-lg-3 data-list">
      <h2>- Color | Count:</h2>
      {{#each dataOut as |element|}}
        {{data-element data=element}}
      {{/each}}
    </div>
  </div>
  {{outlet}}
</div>

{{ember-notify}}
